<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='vue.js'></script>
</head>
<body>
	<div id="app">
        <bug-component v-title="'nihao'"></bug-component>
    </div>
    <script type="text/x-template" id="bugComponent-template">
        <div>组件<button>哦</button>{{msg}}</div>
    </script>


</body>
</html>
<script>
  // 定义一个混合对象
  // var myMixin = {
  //   created: function () {
  //     this.hello()
  //   },
  //   methods: {
  //     hello: function () {
  //       console.log('hello from mixin!')
  //     }
  //   }
  // }
  // // 定义一个使用混合对象的组件
  // var Component = Vue.extend({
  //   mixins: [myMixin]
  // })
  // var component = new Component() // => "hello from mixin!"
  // console.log(component)

//选项合并 
// 当组件和混合对象含有同名选项时，这些选项将以恰当的方式混合。
// 比如，同名钩子函数将混合为一个数组，因此都将被调用。另外，混合对象的 钩子将在组件自身钩子 之前 调用 
  // var mixin = {
  //   created: function () {
  //     console.log('混合对象的钩子被调用')
  //   }
  // }
  // var a=new Vue({
  //   mixins: [mixin],
  //   created: function () {
  //     console.log('组件钩子被调用')
  //   }
  // })

  // 值为对象的选项，例如 methods, components 和 directives，将被混合为同一个对象。两个对象键名冲突时，取组件对象的键值对。
// var mixin = {
//   methods: {
//     foo: function () {
//       console.log('foo')
//     },
//     conflicting: function () {
//       console.log('from mixin')
//     }
//   }
// }
// var vm = new Vue({
//   mixins: [mixin],
//   methods: {
//     bar: function () {
//       console.log('bar')
//     },
//     conflicting: function () {
//       console.log('from self')
//     }
//   }
// })
// vm.foo() // => "foo"
// vm.bar() // => "bar"
// vm.conflicting() // => "from self"


// 也可以全局注册混合对象。注意使用！ 一旦使用全局混合对象，将会影响到 所有 之后创建的 Vue 实例。使用恰当时，可以为自定义对象注入处理逻辑。
// 为自定义的选项 'myOption' 注入一个处理器。
// Vue.mixin({
//   created: function () {
//     console.log(this)
//     var myOption = this.$options.myOption
//     if (myOption) {
//       console.log(myOption)
//     }
//   }
// })
// new Vue({
//   myOption: 'hello!'
// })
// => "hello!


// var mixin = {
//   data: function () {
//     return {
//         msg1: "aaaaa"
//     }
//   },
//   created: function () {
//     console.log('mixin对象')//优先级高
//   }
// }
Vue.component( 'bugComponent', {
    // mixins:[mixin],
    data: function(){
        return {
            msg: "sssss"
        }
    },
    created: function () {
    //  console.log('组件对象')
    },
    mounted: function () {
      // console.log(this)
    },
    template: '#bugComponent-template'
} )

Vue.directive('title',{
  bind (el,binding) {
    console.log(el,binding)
    document.title=binding.value
  }
})

	var myApp = new Vue({
	    el: "#app",
	    data: {
	        parent: '是是是'
	    },
	    methods: {

	    }
	})

	

</script>

<script>
 
</script>
