<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./vue.js'></script>
</head>
<body>
	  <div id="app">
				<my-component v-model="msg"></my-component>
				{{msg}}
				<my-counter v-model="num"></my-counter>
		</div>
		<script>
				Vue.component('my-component', {
						template: '<div><input type="text" :value="currentValue" @input="handleInput"/></div>',
						data: function () {
								return {
										// 双向绑定值
										currentValue: this.value
								}
						},
						props: ['value'],// 设置value为props属性
						methods: {
								handleInput(event) {
										var value = event.target.value;
										this.$emit('input', value);
								}
						}
				})
				Vue.component("my-counter", {
						template: `<div>
								<h1>{{value}}</h1>
								<button @click="plus">+</button>
								<button @click="minu">-</button>
						</div>`,
						props: {
								value: Number
						},
						data: function() {
								return {
										val: this.value
								}
						},
						methods: {
								plus() {
										this.val = this.val + 1
										this.$emit('input', this.val)
								},
								minu() {
										if(this.val>0){
												this.val = this.val-1
												this.$emit('input', this.val)
										}
								}
						}
				});
				new Vue ({
						el: '#app',
						data: {
								msg: 'hello',
								num: 1
						}
				})
		</script>