<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='./vue.js'></script>
</head>
<body>
  <div id="app">

      <anchored-heading v-for='item in levels' :level="item">Hello world!</anchored-heading>
  </div>
</body>
</html>
<script>
  Vue.component('anchored-heading', {
    render: function (createElement) {
      return createElement(
        'h' + this.level,   // tag name 标签名称
        this.$slots.default // 子组件中的阵列
      )
    },
    props: {
      level: {
        type: Number,
        required: true
      }
    }
  })
  var myVue=new Vue({
    el:'#app',
    data: {
      levels:[1,2,3,4,5,6]
    }
  })
</script>
<script>
//   createElement(
//   // {String | Object | Function}
//   // 一个 HTML 标签字符串，组件选项对象，或者一个返回值类型为 String/Object 的函数，必要参数
//   'div',
//   // {Object}
//   // 一个包含模板相关属性的数据对象
//   // 这样，您可以在 template 中使用这些属性。可选参数。
//   {
//     // (详情见下一节)
//   },
//   // {String | Array}
//   // 子节点 (VNodes)，由 `createElement()` 构建而成，
//   // 或使用字符串来生成“文本节点”。可选参数。
//   [
//     '先写一些文字',
//     createElement('h1', '一则头条'),
//     createElement(MyComponent, {
//       props: {
//         someProp: 'foobar'
//       }
//     })
//   ]
// )

</script>