<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./vue.js'></script>
</head>
<!-- 为了让组件可以组合，我们需要一种方式来混合父组件的内容与子组件自己的模板。这个过程被称为内容分发 -->


<!-- 插槽分为单个插槽，具名插槽、作用域插槽 -->

<!-- 作用域插槽是一种特殊类型的插槽，用作一个 (能被传递数据的) 可重用模板，来代替已经渲染好的元素。 -->
<script>
</script>
<body>
	<div class="wrap" id="event">
		<nav>
			<child>
				<child1> 单一插槽</child1>
				<child1 slot='sun'>具名插槽</child1><!-- 排最后 -->
				{{name}}
				<child2>
					<template scope='zyy'>
						<span>{{zyy}}</span>
					</template>
				</child2>			
			</child>
			
		</nav>
	</div>
</body>
</html>
<script>

	var child = {
		props:[],
		template:'<div>{{name}}<slot></slot><slot name="sun"></slot></div>',//单个插槽、具名插槽
		data: function (){
            return {
                name: '叫我啥',
                sex:'男'
            }
        },
	}
	var child1 = {
		props:[],
		template:'<div >我是孩子1<slot></slot></div>',
		methods:{
			
		}
	}
	var child2 = {
		props:[],
		template:'<div >我是孩子2<slot text="hello nihao "></slot></div>',
		props:{
			// name:'sunyanfei'
		},
		data: function () {
			return {
				name:'sunyanfei'
			}
		}
	}
	var vueEvent = new Vue({
		el:"#event",
		data:{
			name:'zhoulin'
		},
		components:{
			child:child,
			child1:child1,
			child2:child2
		}
	})
</script>
