<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='vue.js'></script>
</head>
<body>
	<div id="app">
        <bug-component @son="parentFn" :name="1" :my-parent="parent" msg="asdasdassd"></bug-component>
        <table>
            <tr is="child"></tr>
        </table><!-- 避免table嵌套发生序错误 -->
    </div>
    <script type="text/x-template" id="bugComponent-template">
        <div>{{name}}{{myParent}}{{age}}<button @click="sonFn">哦</button></div>
    </script>


</body>
</html>
<script>
	var child = {
	    template: "<tr><td>{{hehe}}</td></tr>",
	    data: function () {
	        return {
	            hehe: 's'
	        }
	    }
	}
	Vue.component( 'bugComponent', {
	    props: {
	        name: Number,
	        myParent: {
	            type: String,
	            required: true
	        },
	        age: {
	            default: 10000
	        }

	    },
	    data: function(){
	        return {
	            msg: "sssss"
	        }
	    },
	    methods: {
	        sonFn: function(){
	            this.$emit('son',this.msg)//子传父
	        }
	    },
	    template: '#bugComponent-template'
	} )
	var myApp = new Vue({
	    el: "#app",
	    data: {
	        parent: '是是是'
	    },
	    methods: {
	        parentFn ( msg ) {
	            console.log('...',msg)
	        }
	    },
	    components: {
	        child: child
	    }
	})

	

</script>

<script>
	
// 默认情况下父组件在子组件内套的内容，是不显示的。
// 使用slot(插槽)解决
// <div id="app"> 
//     <children> 
//         <span>12345</span> 
//         <!--上面这行不会显示--> 
//     </children> 
//  </div> 
// <script> 
//     var vm = new Vue({ 
//         el: '#app', 
//         components: { 
//             children: { //这个无返回值，不会继续派发 
//                 template: "<button><slot></slot>为了明确作用范围，所以使用button标签</button>"
//             } 
//         } 
//     }); 
</script>


<!-- 	组件与组件之间通讯
	子传父用:子里面this.$emit('时间名称','数据')，在组件标签上@时间名称="parentFn"，父函数接受
	父传子：在子里用props接受（在标签上用:bind:属性名='值',） -->
