<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./vue.js'></script>
</head>
<!-- 如果2个组件不是父子组件那么如何通信呢？这时可以通过eventHub来实现通信. 
所谓eventHub就是创建一个事件中心，相当于中转站，可以用它来传递事件和接收事件. -->
<script>
	var vue = new Vue()
</script>
<body>
	<div class="wrap" id="event">
		<nav>
			<child></child>
			<child1></child1>
		</nav>
	</div>
</body>
</html>
<script>
</script>
<script>

	var child = {
		props:[],
		template:'<div>{{name}}</div>',

		created: function () {
			var that=this;
			vue.$on('son1',function (aaa) {
				that.name = aaa;
			})
		},
		 data: function (){
            return {
                name: '叫我啥'
            }
        },
	}
	var child1 = {
		props:[],
		template:'<div @click="sonFn1">我是孩子1</div>',
		methods:{
			sonFn1: function () {
				vue.$emit('son1','我准备发送111')
			}
		}
	}
	var vueEvent = new Vue({
		el:"#event",
		components:{
			child:child,
			child1:child1
		}
	})
</script>