<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./vue.js'></script>
</head>
<body>
	<div class="wrap" id="event">
		{{parentfn}}
		<nav>
			<!-- <child :son-event='parentfn' @update:son-event='val =>parentfn = val'></child> -->
			<child :son-event.sync='parentfn'></child>
		</nav>
	</div>
</body>
</html>
<script>
	var child = {
		props:[],
		template:'<div @click="sonFn">我是孩子</div>',
		methods:{
			sonFn: function () {
				this.$emit('update:sonEvent','我准备发送孩子的早餐')
			}
		}
	}
	var vueEvent = new Vue({
		el:"#event",
		data : {
			parentfn:'ddewed'
		},
		methods: {
			
		},
		components:{
			child:child
		}
	})
</script>
<script>
	// 让子组件改变父组件状态的代码更容易被区分。(改变父组件的数据)
	// 
	//:menu-title.sync="menuTitle"
    //是
    //:menuTitle="menuTitle" @update:menuTitle="(val)=>menuTitle = val"(不可使用驼峰)
    //的语法糖
    
   	//代码
	//<comp :foo.sync="bar"></comp> 		//html
	//this.$emit('update:foo', newValue)	//js
	//会被扩展为：
	//<comp :foo="bar" @update:foo="val => bar = val"></comp>
	//当子组件需要更新 foo 的值时，它需要显式地触发一个更新事件：
	//this.$emit('update:foo', newValue)
</script>