<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./vue.js'></script>
	<style>
		.fade-enter-active, .fade-leave-active {
		  transition: opacity .5s
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
		  opacity: 0
		}
	</style>
</head>
<body>
	<div id="demo">
	  <button v-on:click="show = !show">
	    Toggle
	  </button>
	  <transition name="fade">
	    <p v-if="show">hello</p>
	  </transition>
	</div>
</body>
</html>
<script>
	new Vue({
	  el: '#demo',
	  data: {
	    show: true
	  }
	})
</script>
<script>
	//1、 Vue 在插入、更新或者移除 DOM 时，提供多种不同方式的应用过渡效果。
		// 包括以下工具：
		// 在 CSS 过渡和动画中自动应用 class
		// 可以配合使用第三方 CSS 动画库，如 Animate.css
		// 在过渡钩子函数中使用 JavaScript 直接操作 DOM
		// 可以配合使用第三方 JavaScript 动画库，如 Velocity.js
	//2、Vue 提供了 transition 的封装组件，在下列情形中，可以给任何元素和组件添加 entering/leaving 过渡
		// 	条件渲染 (使用 v-if)
		// 	条件展示 (使用 v-show)
		// 	动态组件
		// 	组件根节点
	// 总结
		// 当插入或删除包含在 transition 组件中的元素时，Vue 将会做以下处理：
		// 自动嗅探目标元素是否应用了 CSS 过渡或动画，如果是，在恰当的时机添加/删除 CSS 类名。
		// 如果过渡组件提供了 JavaScript 钩子函数，这些钩子函数将在恰当的时机被调用。
		// 如果没有找到 JavaScript 钩子并且也没有检测到 CSS 过渡/动画，DOM 操作 (插入/删除) 在下一帧中立即执行。(注意：此指浏览器逐帧动画机制，和 Vue 的 nextTick 概念不同)
</script>